@import '~bootstrap/dist/css/bootstrap.min.css';


.logo  {
    width: auto;
    height: 120px;
    margin-left: 50px;
}

.container {
    display:flex;
    align-items: center;
}


.container img {
    width: auto;
    height: 700px;
    padding: 20px;
}

.details {
    padding:100px;
}


footer img {

    width: auto;
    height: 70px;
}


@media (max-width: 1200px) {
    .container {
        justify-content: space-evenly;
    }

    .logo  {
        width: auto;
        height: 100px;
    }
}

@media (max-width: 991px) {
    .container img {
        width: auto;
        height: 500px;
        padding: 20px;
    }

    .details {
        padding:0;
        padding-left:100px;
    }

    .logo  {
        width: auto;
        height: 80px;
        margin-left: 50px;
    }
}

@media (max-width: 580px) {

    header  {
        display: flex;
        justify-content: center;
        align-items: center;
      
}

    .logo  {
        width: auto;
        height: 60px;
        margin-left: 0px;
    }


    .container img {
        width: auto;
        height: 400px;
        padding: 20px;
    }

    .details {
        padding:0;
        padding-left:50px;
        padding-right: 20px;
        padding-top:20px;
        padding-bottom:20px;
    }
}

@media (max-width: 430px) {
    .container {
        flex-direction: column;
    }

    footer img {

        width: auto;
        height: 40px;
    }
    
}
